<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		<title>
			{% block title %}Figure de Style Snowboard!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
			<link rel="stylesheet" href="{{ asset('css/style.css')}}">
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


		{% endblock %}
	</head>
	<body>

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
			<a class="navbar-brand" href="{{ path('home')}}">Skispeed</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="{{ path('home')}}">HOME
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<!--is_logged-->
					{% if app.user %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('figure_create') }}">ADD A TRICK</a>
						</li>


						<li class="nav-item">
							<a class="nav-link" href="{{ path('security_profil') }}">MY ACCOUNT</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('security_logout') }}">DISCONNECT</a>
						</li>


						<!--not is_logged-->
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('security_login')}}">CONNECTION</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('security_register')}}">SIGN UP</a>
						</li>
					{% endif %}


				</ul>

				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Send</button>
				</form>
			</div>

		</nav>
		<div class="wrapper"> {% block body %}{% endblock %}
			</div>
			{% block footer %}
				<footer>
					<div id="footer">
						<div class="container-fluid">

							<div class="icons text-center py-4">
								<a href="#" target="blank">
									<i class="fa fa-facebook"></i>
								</a>
								<a href="#" target="blank">
									<i class="fa fa-twitter"></i>
								</a>
								<a href="#" target="blank">
									<i class="fa fa-instagram"></i>
								</a>
							</div>
						</div>

						<div class="copyright text-center">
							<p>Copyright &copy; Skispeed 2019
							</p>
						</div>
					</div>
				</footer>
			{% endblock %}
			{% block javascripts %}
				<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
				<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
				<script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
				<script src="https://kit.fontawesome.com/bbae8742e3.js" crossorigin="anonymous"></script>
				<script>
					$(document).ready(function () {
bsCustomFileInput.init()
});
				</script>

			{% endblock %}
		</body>
	</html>
