{% extends 'base.html.twig' %}

{% block title %}Ajout de figure
{% endblock %}

{% block body %}


	<div class="container contents">
		<div class="row">

			<div class="col-lg-12 col-md-6 mx-auto my-5">
				<h1 class="text-uppercase text-center">Create the trick</h1>
				{{ form_start(form) }}

				{{ form_row(form.name) }}
				{{ form_row(form.description) }}
				<div class="custom-file">
					<input type="file" class="custom-file-input btn-add" id="customFile">
					<label class="custom-file-label" for="customFile">Choose a file</label>
				</div>
				<!-- Add Images-->
				<ul class="image" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}"></ul>
				<button type="button" class="btn btn-sm btn-primary btn-add" data-rel="#images">Add an image</button>
			</ul>
			{{ form_errors(form) }}
			{{ form_widget(form) }}
			{{ form_help(form) }}

			{{ form_row(form.images) }}


			<!-- Add Videos-->
			{% for video in form.videos %}
				{{ form_row(form.videos) }}
			{% endfor %}


			{{ form_end(form) }}


		</div>

	</div>

</div>{% endblock %}{% block javascripts %}

{{ parent() }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script>
	$(".btn-add").on("click", function () {
var $collectionHolder = $($(this).data("rel"));
var index = $collectionHolder.data("index");
var prototype = $collectionHolder.data("prototype");
$collectionHolder.append(prototype.replace(/__name__/g, index));
$collectionHolder.data("index", index + 1);
});

$("body").on("click", ".btn-remove", function () {
$($(this).data("rel")).remove();
})

$('.custom-file-input').on('change', function () {
var fileName = $(this).val();
$(this).next('.custom-file-label').html(fileName);
})
</script>{% endblock %}
