{% extends 'base.html.twig' %}

{% block title %}Edition de figure
{% endblock %}

{% block body %}

	<div class="col-lg-6 col-md-12 mx-auto">
		{{ form_start(form) }}

		{{ form_row(form.name) }}
		{{ form_row(form.description) }}

		<div class="row">
			<div class="col-sm-6">
				{{ form_errors(form) }}
				{{ form_widget(form) }}
				{{ form_help(form) }}

				{% for image in figure.image %}
					<div class="StyleEdit">
						<img<span height="150px" src="{{ asset('images/uploads/' ~ image.name) }}" </div> {% endfor %} <button type="submit" class="btn btn-success"> class="fa fa-pencil">Éditer la figure</span>
					</button>
					{{ form_end(form) }}
				</div>
			</div>

		{% endblock %}
