{% extends 'base.html.twig' %}

{% block title %}Edition de figures
{% endblock %}

{% block body %}

	<div class="col-lg-6 col-md-12 mx-auto">
		{{ form_start(form) }}

		{{ form_row(form.name) }}
		{{ form_row(form.description) }}

		<div class="row">
			<div class="col-sm-6">
				{{ form_errors(form) }}
				{{ form_widget(form) }}
				{{ form_help(form) }}
				{ dump(images) }
				{% for image in figure.images %}
					<div class="StyleEdit"><input type="hidden" name="image_to_keep" value="{{ image.id }}">
						<img class="img-card-top" height="350px" src="{{ asset('images/uploads/' ~ image.name) }}">
					</div>
				{% endfor %}
				<button type="submit" class="btn btn-success">
					<span class="fa fa-pencil">Éditer la figure</span>
				</button>
				{{ form_end(form) }}
			</div>
		</div>
	{% endblock %}
