{% extends 'base.html.twig' %}

{% block title %}Editing tricks
{% endblock %}

{% block body %}

	<div class="col-lg-6 col-md-12 mx-auto my-5">
		{{ form_start(form) }}

		{{ form_row(form.name) }}
		{{ form_row(form.description) }}

		{{ form_errors(form) }}
		{{ form_widget(form) }}
		{{ form_help(form) }}

		{{ form_end(form) }}
		<div class="container">
			<div class="row">

				{% for image in figure.images %}

					<div class="col-lg-4 md-6 col-sm-6">
						<div class="card">
							<div class="StyleEdit">
								<img class="img-thumbnail" height="250px" src="{{ asset('images/uploads/' ~ image.name) }}">
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
